.appWrap {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.sidebarSection {
  width: 180px;
}

.chartSection {
  flex: 1;
}

.selections {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 68px;
  text-align: center;
}
